:root {
  color-scheme: light dark;
  --light: white;
  --dark: #171923;
  --color: light-dark(var(--dark), var(--light));
  --bg: light-dark(var(--light), var(--dark));
  --accent: light-dark(#1a5fff, #4b83ff);
  --highlight: color-mix(in oklab, var(--color), transparent 95%);
  --normal: 16px;
  --title: 64px;
  --heading: 48px;
  --subheading: 32px;
  --nav: 64px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--color);
  font-family: 'JetBrains Mono';
  overflow: hidden;
}

a,
button,
input {
  font-family: inherit;
  color: inherit;
  background-color: inherit;
  outline: none;
}

a {
  color: var(--accent);
  text-decoration: none;
  transition: font-weight 200ms;
}

a:hover {
  font-weight: bold;
}

h1,
h2,
h3 {
  display: flex;
  align-items: center;
  gap: 16px;
  color: inherit;
  font-weight: 600;
  margin-block-end: 0.25em;
  overflow: hidden;
}

h1 {
  font-size: var(--title);
}

h2 {
  font-size: var(--heading);
}

h3 {
  font-size: var(--subheading);
}

p a, li a {
  position: relative;
  color: transparent;
  font-weight: bold;
  background-color: var(--accent);
  background-image: linear-gradient(to right, var(--color), var(--color));
  background-position: 100%;
  background-size: 0%;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  transition: background-size 250ms ease-out;
}

p a:hover, li a:hover {
  background-position: 0;
  background-size: 100%;
}

p a::after, li a::after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: 0;
  background: var(--accent);
  height: 2px;
  border-radius: 1px;
  transition: width 250ms ease-out;
}

p a:hover::after, li a:hover::after {
  left: 0;
  right: auto;
  width: 100%;
}

#app {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}

#canvas {
  position: absolute;
  height: 100%;
  z-index: -1;
  background: radial-gradient(circle at 18px 18px, var(--highlight) 4px, transparent 0) center / 40px 40px;
  mask: url(ink.gif) center / cover;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#hero h1 {
  margin: 0;
  color: transparent;
  background: linear-gradient(to right, var(--color), var(--accent));
  -webkit-background-clip: text;
  background-clip: text;
  animation: grow 2000ms ease-out;
}

section {
  margin: auto;
  padding: 32px;
  width: 1024px;
  overflow: auto;
}

hr {
  border: var(--color) solid 1px;
  border-radius: 1px;
}

em {
  margin: 0;
  color: var(--accent);
}

.split {
  display: flex;
  gap: 16px;
}

.split > * {
  flex: 1;
}

.shrink {
  font-size: 48px;
}

.panel {
  box-sizing: border-box;
  padding: 64px;
}

.icon {
  width: 64px;
  height: 64px;
  overflow: hidden;
}

.icon-path {
  stroke: white;
  fill: white;
  fill-opacity: 0;
  transition-property: fill-opacity;
  transition-duration: 250ms;
}

.image {
  font-size: 0;
  border-radius: var(--radius);
  overflow: hidden;
  transition-property: opacity;
  transition-duration: 250ms;
}

.image:hover {
  opacity: 0.5;
}

.image img {
  width: 100%;
}

.embed {
  font-size: 0;
  overflow: hidden;
  border-radius: 8px;
}

.embed iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.press {
  transform: scale(0.75);
}

pre {
  background-color: transparent !important;
  font-family: 'JetBrains Mono';
}

.fade {
  opacity: 0;
}

@media screen and (max-width: 1024px) {
  section {
    width: 100%;
  }
}

@keyframes float {
  0% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes grow {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}