body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: 'JetBrains Mono';
  overflow: hidden;
}

a {
  color: grey;
  text-decoration: none;
  transition-property: font-weight;
  transition-duration: 0.2s;
}

a:hover {
  font-weight: bold;
}

#app {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background-image: radial-gradient(circle at 4px 4px, #ffffff08 4px, transparent 0);
  background-size: 40px 40px;
  background-position: var(--mouse-x) var(--mouse-y);
}

#canvas {
  position: absolute;
  height: 100%;
  z-index: -1;
  animation-name: fade;
  animation-duration: 4000ms;
  animation-timing-function: ease-out;
}

#pihedron {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#about {
  width: 100%;
  height: 100vh;
}

.big {
  font-size: 96px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.cascade {
  display: block;
  overflow: hidden;
  transition-property: transform;
  transition-duration: 250ms;
}

.cascade span {
  transition-property: font-size;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
}

.cascade .float {
  display: inline-block;
  transform: translateY(100%);
  animation-name: float;
  animation-duration: 1000ms;
  animation-timing-function: ease-out;
}

.shrink {
  font-size: 48px;
}

.panel {
  box-sizing: border-box;
  padding: 64px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 128px);
  grid-template-rows: repeat(4, 128px);
  gap: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  transition-property: background-color;
  transition-duration: 250ms;
}

.card:hover {
  background-color: #ffffff10;
}

.card:hover .icon-path {
  fill-opacity: 1;
}

.icon {
  width: 64px;
  height: 64px;
  overflow: hidden;
}

.icon-path {
  stroke: white;
  fill: white;
  fill-opacity: 0;
  transition-property: fill-opacity;
  transition-duration: 250ms;
}

.image {
  display: block;
  max-width: 640px;
  max-height: 360px;
  font-size: 0;
  border-radius: 8px;
  overflow: hidden;
}

.image img {
  width: 100%;
  transition-property: filter;
  transition-duration: 0.2s;
}

.image:hover img {
  filter: brightness(0.5);
}

@keyframes float {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}